.wrapper{
    height: 800px;  
    display: flex; 
 
    min-height: 1000px;
    height: 100%;
     padding-top: 10px;
     margin: 0 100px 0 30px;
    transition: all 0.8s;   
    justify-content: center;
    color:var(--text-color) ;
    &.dark{
        color: var(--text-color-dark);
    }
    &.dark .selected-category{
        color: var(--primary);
        border-color: var(--primary);
    }
}

.user-options{
    width: 200px;
    height: 300px;
    margin: 0 20px;
    background-color: var(--dark-theme);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text-color-dark);
    border-radius: 15px;
}
.title{
    font-size: 3rem;
    text-align: center;
    color: var(--primary);
}

.icon{
    font-size: 2.4rem;
}
.description{
    text-align: center;
    font-style: italic;
}
.row{
    display: flex;
    justify-content: space-evenly;
}

.content{
    width: 760px;
    height: 100vh;  
    border-radius: 15px;
  
}

.selected-category {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:var(--primary-light);
    border-color: var(--primary-light);
    li {
        padding: 1px 8px;
        margin-right: 4px;
        margin-bottom: 4px;
        border: 1px solid ;
        border-radius: 16px;
        list-style-type: none;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin-right: 4px;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.06);
        }
    }
}
