.wrapper {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.8s;
    color: var(--text-color);
    &.dark {
        color: var(--text-color-dark);
        background-color: var(--dark-theme);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 12px;
    align-items: center;
    overflow: hidden;
}

.name {
    font-weight: 500;
    flex: 1;
    max-width: calc(100% - 10px);
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    // position: absolute;
    font-size: 10px;
    margin-left: 8px;

    &.online {
        color: var(--online);
    }

    &.offline {
        color: var(--offline);
    }
    &.ban {
        color: var(--ban);
    }
}
.msg-noti {
    background-color: var(--primary);
    color: var(--primary-light);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
}
.username {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
}
