.wrapper {
  width: 100%;  
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  background-color: var(--light-theme);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  &.dark{
    color: var(--text-color-dark);
    background-color: var(--dark-theme);
  }
  // overflow-y: scroll;
}
