.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        cursor: pointer;

        .title {
            color: var(--primary-light);
        }
    }
    margin: 1vw 0;
}
.row {
    margin-left: 1vw;
    display: flex;
    align-items: center;
}
.icon-wrapper {
    aspect-ratio: 1/1;
    min-width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.title {
    padding: 12px;
}

.notification {
    background-color: #fe9431;
    color: #fff;
    padding: 4px;
    border-radius: 8px;
    margin-right: 8px;
    font-size: 1.4rem;
}
