.wrapper {
    display: flex;
  //   align-items: center;
    flex-direction: column;
    background-color: var(--bg-light-theme);
    &.dark {
        background-color: var(--bg-dark-theme);
    }
  }
  
  .container {
      margin-top: var(--defaultLayout-header-height);
      width: 100%;
      max-width: 100%;
      
      overflow: hidden;
  }
  
  .content {
      transition: all 0.8s;
      background-color: var(--bg-light-theme);
      min-height:100vh;
      padding-top: 10px;
      padding-left: 14vw ;
      padding-right: 25vw ;
      &.dark{
          background-color: var(--bg-dark-theme);
      } 
  } 
  
  