.wrapper {
    margin-top: 20px;
    position: relative;
    &.page{

    }
}
.nothing{
    width: 100%;
    display: flex;
    justify-content: center;
}
.no-content{
    width: 200px;
    height: 200px;

 }

 .filter{
    position:absolute;
    top:0;
    right: 0;
    background-color: var(--bg-dark-theme);
    padding: 5px 20px;
    border-radius: 15px;
    cursor:pointer;
 }

 .filter-opt{
    position:absolute;
    top:40px;
    right: 0;
    border-radius:15px;
    background-color: var(--bg-dark-theme);
    height: 112px;
    overflow: hidden;
    padding: 0 10px;
    padding-top: 10px;
    cursor:pointer;
   
    
    &.show{
        
        animation: lengthen 0.8s ease forwards;
    }
    &.hide{
       
        animation: shorten 0.8s ease forwards;
    }
    & div{
        padding-bottom: 10px;
    }
 }

 @keyframes lengthen {
    from{
        display: none;
        height: 0px;
    }
    to{
        display: block;
        height: 112px;
    }
 }

 @keyframes shorten {
    from{
        display: block;
       height: 146px;
    }
    to{
        display: none;
        height: 0px;
    }
 }