.wrapper {
    max-width: var(--defaultLayout-sidebar-right-width);
    width: 20%;
    padding: 20px 8px 26px 8px;
    margin-right: calc((26.5vw - 20vw) / 2);
    position: fixed;
    top: var(--defaultLayout-header-height);
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.8s;

    & .menu-wrapper {
        color: var(--text-color);
    }

    &.dark .menu-wrapper {
        background-color: var(--dark-theme);
        color: var(--text-color-dark);
        box-shadow: none;
    }

    &.dark .menu-header {
        color: var(--text-color-dark);
    }
    &.dark .more {
        color: var(--text-color-dark);
    }
}

.wrapper::-webkit-scrollbar{
    display: none;
}
.menu-wrapper {
    transition: all 0.8s;
    background-color: #fff;
    position: relative;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #888888;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    padding-left: 16px;
    padding-right: 4px;
    padding-top: 10px;
    margin-bottom: 16px;
}
.menu-header {
    font-weight: 600;
    font-size: 14px;
    flex: 1;
}

.more {
    font-size: 14px;
    color: var(--text-color);
    padding: 0 20px;
}

.media {
    border-radius: 15px;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
