.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
 
}

.my-comment {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius:30px;
    .avatar {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        border-radius: 50%;
    }
   
    .box-input{
        display: flex;
        flex-direction: column;
        background-color: #eee;
        width: 637px;
        margin-left: 8px;
        margin:6px;
        border-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        color:var(--text-color)
    }
    .input {
        display: flex;
        align-items: center;
        
        
        &:hover {
            border-color: #999;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

       
    }
    #upload {
        display: none;
    }

    .upload-icon {
        color: var(--primary-light);
        margin-right: 30px;
        font-size: 2.5rem;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }


     
    &.reply {
    
        .avatar{
          width: 30px;
          height: 30px;
        }
     
        .upload-icon{
          font-size: 2rem;
        }
      }
      &.dark .box-input{
          background-color: var(--bg-dark-theme);
          color:var(--text-color-dark);
          
      }
      &.dark .input .upload-icon{
          color:var(--primary);
      }
}

.add-img {
    display: flex;
    .your-img {
        width: 100px;
        height: 100px;
        margin-top: 5px;
        margin-left: 10px;
    }
    .delete {
        margin-top: 2px;
        margin-left: 2px;
        font-size: 1.8rem;
        cursor: pointer;
    }
}


