.contain{
    height: 100%;
    width: 100%;
    // background-color: blue;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;

}

.nameCard{
    height: 30%;
    width: 80%;
    background-color: rgb(213, 245, 243);
}