.wrapper {
    height: 85vh;
    padding: 10px 20px ;
    border-radius:15px;
    width: 900px;
    margin: 10px 77px 0 50px; // top right bot left
    background-color: var(--dark-theme);
}
.user-info{
    height: 80px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--bg-dark-theme);
}

.chat-box{

}

.input{

}