.wrapper {
    height: 85vh;
    padding-top: 10px;
    width: 900px;
    margin: 10px 77px 0 50px; // top right bot left
    background-color: var(--dark-theme);
}
.user-info{
    
}

.chat-box{

}

.input{

}