.contain{
    //background-color: blueviolet;
    height: 65vh;
    width: 45vh;
    transform-style: preserve-3d;
    transition: all 0.8s  ease;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
}

.card{
    background-color: burlywood;
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.8s  ease;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.cardflip {
        //transition: all 0.8s ease;
        transform:rotateY(180deg);
}
.front{
    height: 100%;
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    backface-visibility: hidden;
}

.back{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.card0{
    top: 15%;
    right: 35%;
}
.cardmoveon {
    top: 21vh;
    right: 85px;
   width: 150px;
   height: calc(150px*(65/45));
}

.cardmoveunder{
    top: 63vh;
    right: 85px;
    width: 150px;
    height: calc(150px*(65/45));
}   

.cardback1 {
    top: 200px;
    right: 500px;
    transform-origin: bottom right;
    transform: rotate(9deg);
}

.cardback2 {
    top: 200px;
    right: 500px;
    transform-origin: bottom left;
    transform: rotate(-9deg);
}

