.contain{
    //background-color: blueviolet;
    height: 60vh;
    width: 40vh;
    transform-style: preserve-3d;
    transition: all 0.8s  ease;
    position: absolute;
    border-radius: 10px;
    z-index: 6;
}

.card{
    background-color: burlywood;
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.8s  ease;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.cardflip {
        //transition: all 0.8s ease;
        transform:rotateY(180deg);
}
.front{
    height: 100%;
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    backface-visibility: hidden;
}

.back{
    height: 100%;
    width: 100%;
    background-color: rgb(236, 220, 201);
    position: absolute;
    top: 0px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.card0{
    bottom:23%;
    right: 37%;
}
.cardmoveon {
    bottom: 39%;
    right: 1%;
    transform: scale(0.4);

}

.cardmoveunder{
    bottom: -10%;
    right: 1%;
    transform: scale(0.4);
}   

.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh    ;
    font-size: 40px;
    font-weight: 600;
    & .example{
        font-style: italic;
        font-size: 20px;
    }
}

