.contain{
    //background-color: blueviolet;
    height: 60vh;
    width: 40vh;
    transform-style: preserve-3d;
    transition: all 0.8s  ease;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
}

.card{
    background-color: burlywood;
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.8s  ease;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.cardflip {
        //transition: all 0.8s ease;
        transform:rotateY(180deg);
}
.front{
    height: 100%;
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    backface-visibility: hidden;
}

.back{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.card0{
    top: 18%;
    right: 36%;
}
.cardmoveon {
    top: 6vh;
    right: 1%;
    transform: scale(0.4);
//    width: 130px;
//    height: calc(130px*(60/40));
}

.cardmoveunder{
    top: 49vh;
    right: 1%;
    transform: scale(0.4);
}   



