.menu-lists {
  width: 224px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;

  &.small {
    width:130px;
  }


  .menu-item {
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
  }
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
.menu-popper {
  padding-bottom: 8px;
  background-color: var(--light-theme);
  transition: all 0.8s;
  &.dark{
    background-color: var(--dark-theme);
  }
  &.dark .menu-item {
    color: var(--text-color-dark);
  }
  &.dark .header-title{
    color: var(--text-color-dark);
  }
  &.dark .back-btn{
    color: var(--text-color-dark);
  }
 
} 
.menu-body{
  overflow: auto;
  max-height:400px;

}
.menu-item {
  line-height: 1.8rem;
  width: 100%;
  justify-content: flex-start;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 16px;
  cursor: pointer;
  color: var(--text-color);
 
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
  &.separate{
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }
}

.header {
  height: 50px;
  display:flex;
  margin-top: -8px;
  flex-shrink: 0;
  align-items: center;

}

.back-btn {
  color: var(--text-color);
  width: 20%;
  height: 100%;
  background-color: transparent;
}

.header-title {
  color: var(--text-color);
  padding-left: 10%;


}

