.wrapper {
  display: flex;
//   align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  margin-top: var(--defaultLayout-header-height);
  max-width: 100%;
  display: flex;
}

.content {
  flex: 1;
  background-color: var(--bg-dark-theme);
  padding-top: 10px;
  padding-left: var(--defaultLayout-sidebar-width) ;
  
}
