.wrapper {
  display: flex;
//   align-items: center;
  flex-direction: column;
}

.container {
  width: var(--defaultLayout-header-width);
  margin-top: var(--defaultLayout-header-height);
  width: 100%;
  max-width: 100%;
  display: flex;
  background-color: var(--light-theme);
  overflow: hidden;
}

.content {
  margin-left: var(--defaultLayout-sidebar-width);
  width: 100%;
}
