$color-text: var(--text-color);
$color-blue: var(--primary-light);
$color-video: #e50202;
$color-photo: #10d876;
$color-camera: #fe9431;
body .wrapper {
    background-color: var(--light-theme);
    padding: 20px;
    margin-bottom: 20px;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #888;
    transition: all 0.8s;
    &.dark {
        background-color: var(--dark-theme);
        box-shadow: none;
    }
    & .input-outside {
        transition: all 0.8s;
        textarea {
            background-color: #eeeeee;
            color: var(--text-color);
        }
    }
    &.dark .header {
        &-icon {
            color: var(--primary);
        }
        &-title {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 600;
            color: var(--primary);
        }
    }

    &.dark .input-outside {
        textarea {
            background-color: var(--bg-dark-theme);
            color: var(--text-color-dark);
        }
    }
    &.dark .header i {
        color: var(--primary-light);
        background-color: var(--primary);
    }
    .header {
        display: flex;
        align-items: center;

        &-title {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 600;
            color: var(--primary-light);
        }

        & i {
            font-size: 14px;
            color: var(--primary);
            background-color: var(--primary-light);
            padding: 8px;
            cursor: pointer;
            border-radius: 50%;
        }
    }

    .input-outside {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 8px;
        }

        textarea {
            font-size: 16px;
            width: 100%;
            height: 50px;
            padding: 8px;
            border-radius: 10px;
            border: 1px dotted #ccc;
            resize: none;

            &:hover {
                border-color: #999;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }

            &:focus {
                border-color: #666;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                outline: none;
            }
        }
    }
    &.dark .options {
        color: var(--text-color-dark);
    }

    .options {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: var(--text-color);
        .option {
            display: flex;
            align-items: center;
            height: 30px;
            line-height: 30px;
            margin-right: 38px;
            cursor: pointer;

            &-icon {
                margin-right: 8px;
                margin-bottom: 2px;
                font-size: 14px;
            }

            &-title {
                font-size: 14px;
                font-weight: 600;
            }

            .video {
                color: $color-video;
            }

            .photo {
                color: $color-photo;
            }

            .camera {
                color: $color-camera;
            }
            .attach {
                color: pink;
            }
            .user-tag {
                color: #1877f2;
            }
        }
    }
}
