.wrapper {
    background-color: var(--light-theme);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888;
    position: relative;
    transition: all 0.8s;
    &.dark {
        background-color: var(--dark-theme);
        box-shadow: none;
        color: var(--text-color-dark);
    }
    &.dark .selected-category li {
        border-color: var(--primary);
        color: var(--primary);
    }

    &.dark .contributor a {
        color: var(--text-color-dark);
    }
    &.dark .download-count{
        color: var(--primary-light);
        background-color: var(--primary);
    }
}

.content {
    display: flex;
    max-width: 95%;
}
.title {
    max-width: 84%;
    font-size: 2.4rem;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-category {
    display: flex;
    flex-wrap: wrap;
    max-width: 88%;
    color: var(--primary-light);
    li {
        padding: 1px 8px;
        margin-right: 10px;
        border: 1px solid var(--primary-light);
        border-radius: 16px;
        list-style-type: none;
        font-size: 1.4rem;
        margin-bottom: 12px;
    }
}

.contributor {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    & p {
        margin-left: 10px;
        font-size: 1.4rem;
    }

    & a {
        color: var(--text-color);
        &:hover {
            text-decoration: underline;
        }
    }
}

.avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-weight: 600;
    margin-left: 16px;
    margin-right: 6px;
}
.download-section{
    position: absolute;  
    right: 33px;
    top: 30%;
 
}
.download-btn {
    font-size: 3.6rem;
    color: #888;
    cursor: pointer;
    &:hover {
        color: var(--primary);
    }
}
.delete{
    position: absolute;  
    color: #888;
    top: 30%;
    right: 100px;
    font-size: 3.9rem;
    margin-left: 10px;
    &:hover {
        color: var(--primary);
    }
}

.download-count{
    position: absolute;
    width: 20px;
    height: 20px;
    top:-10px;
    right: -10px;
    border-radius: 50%;
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    
}

.file-preview{
    font-size: 3rem;
    cursor: pointer;
    &.xls{
        color:#45bd62
    }
    &.xlsx{
        color:#45bd62
    }
    &.pptx{
        color: orange
    }
    &.pdf{
        color:#f33a58
    }
    &.doc{
        color: #1877f2;
    }
    &.docx{
        color: #1877f2;
    }
    &.csv{
        color: plum;
    }
}


.upload-wrapper {
    display: flex;
    align-items: center;
}

.time-wrapper {
    display: flex;
    align-items: center;
    & p {
        font-size: 1.4rem;
    }

    & span {
        font-size: 1.4rem;
        font-weight: 700;
    }
}
