.wrapper {
    display: flex;
    flex-direction: column;
  }
  
.container {
      // margin-top: var(--defaultLayout-header-height);
      width: 100%;
      max-width: 100%;
  }
  
.content {
    transition: all 0.8s;
    background-color: white;
    min-height:calc(100vh - var(--defaultLayout-header-height));
  } 