.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light-theme);
    &.dark {
      background-color: var(--bg-dark-theme);
    }
  }
  
.container {
      // margin-top: var(--defaultLayout-header-height);
      width: 100%;
      max-width: 100%;
  }
  
.content {
    transition: all 0.8s;
    padding-top:   var(--defaultLayout-header-height);
    min-height:100vh;
  } 