:root {
    --story-height: 200px;
    --stories-width: 838px;
    --arrow-size: 50px;
    --arrow-border-radius: 50%;
    --arrow-font-size: 2.4rem;
    --arrow-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.wrapper {
    min-width: 100%;
    max-width: var(--stories-width);
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    & .arrow {
        background-color: var(--light-theme);
        color: var(--text-color);
    }
    &.dark .arrow{
        background-color: var(--primary);
        color:var(--primary-light)
    }
    .arrow {
        position: absolute;
        top: calc(var(--story-height) / 2 - var(--arrow-size) / 2);
        width: var(--arrow-size);
        height: var(--arrow-size);
        border-radius: var(--arrow-border-radius);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--arrow-font-size);
        z-index: 2;
        box-shadow: var(--arrow-box-shadow);
    }

    .arrow-left {
        left: 20px;
    }

    .arrow-right {
        right: 20px;
    }

    .arrow:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .arrow:active {
        width: 48px;
        height: 48px;
    }
}

.stories-wrapper {
    display: flex;
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}
