.wrapper {
    background-color: var(--background-color);
    width: 100%;
    min-height: 1000px;
    padding-top: 10px;
    display: flex;
    transform: translateZ(0);
    margin-left: 80px;
}

.newsfeed {
    width: 50%;
    margin-left: 32px;
    min-height: 10000px;
}

.card-info {
    background-color: #fff;
    min-height: 100px;
    width: 20%;
    margin-right: 60px;
    margin-left: 140px;
}
