.wrapper {
    background-color: var(--background-color);
    width: 100%;
    min-height: 1000px;
    padding-top: 20px;
    display: flex;
    transform: translateZ(0);
}

.newsfeed {
    width: 66.67%;
    margin-left: 60px;
}

.card-info {
    background-color: #fff;
    min-height: 100px;
    width: 33.33%;
    margin-right: 60px;
    margin-left: 20px;
}

.create-post {
  background-color: #fff;
}


