.sidebar{
    position: fixed ;
    top: 96px;
    left: 0;
    background-color: rgba(219, 210, 210, 0.623);
    width: 15%;
    height: 100%;
    text-align: center;
    overflow-y: scroll; 
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.boxscroll{
    height: 30%;
    padding: 5% 20%;
    background-color: hsl(0, 33%, 96%);
    position: relative;
}

.boxcard{
    height: 100%;
    padding: 15px;
    border: 2px solid rgb(231, 189, 216);
}

.blanket{
    position: absolute;
    height: 100%;
    background-color: burlywood;
    top:5%;
    left: 20%;
    bottom: 5%;
    right: 20%;
}

::-webkit-scrollbar {
    width:0.4em;
    overflow-x: none;
}

::-webkit-scrollbar-track {
    background-color: #242942;
}
