@import 'src/assets/font-awesome-pro-v6-6.2.0/css/all.min.css';
@import 'normalize.css';
:root {
    // Default Layout
    --defaultLayout-header-height: 96px;
    --defaultLayout-header-width: 1150px;
    --defaultLayout-horizontal-spacer: 20px;
    --defaultLayout-sidebar-left-width: 280px;
    --defaultLayout-sidebar-right-width: 340px;

    --story-height: 200px;
    --story-width: 125px;

    //Color
    --primary: #ffeba7;
    --primary-light: #102770;
    --black: #000;
    --dark-theme: #293145;  
    --bg-dark-theme:#20222b;
    --bg-light-theme:#fbfcfe;
    --light-theme:white;
    --input-text-color: rgba(22, 24, 35, 1);
    --text-color-dark: #ddd;
    --text-color:#282829;
    --icon-color: #adb5bd;
    --online:#10d876;
    --offline:#FE9431;
    --ban: #E50202;
    --time-color: #adb5bd;
    --title-color: #050505;
    // --background-color: #f7f8fa; 

    //Font
    --default-font-family: 'ProximaNova', sans-serif;
    --font-family: 'SofiaPro', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Font embed
// @font-face {
//   font-family: ProximaNova;
//   src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//   font-weight: 400;
// }

// @font-face {
//   font-family: ProximaNova;
//   src: url('/assets/fonts/ProximaNova-Semibold.woff2');
//   font-weight: 600;
// }

// @font-face {
//   font-family: ProximaNova;
//   src: url('/assets/fonts/Proxima-Nova-Bold.woff');
//   font-weight: 700;
// }

// @font-face {
//   font-family: SofiaPro;
//   src: url('/assets/fonts/sofiapro-bold.woff');
//   font-weight: 700;
// }

// Global CSS
body {
    font-family: var(--default-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
    height: 100%;
    overflow-y: overlay;
}

html {
    font-size: 62.5%;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {

    text-decoration: none;
}
// scrolbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Custom Tippy Tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        min-height: 38px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 22px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92) !important;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }
}




.pop-up{
    position: fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    &.loader{

        background-color: rgba(255, 255, 255, 0.6);
    
    }

}