// @tailwind base;
@tailwind components;
@tailwind utilities;
@import 'src/assets/font-awesome-pro-v6-6.2.0/css/all.min.css';
// @import 'normalize.css';
:root {
    // Default Layout
    --defaultLayout-header-height: 80px;
    --defaultLayout-horizontal-spacer: 20px;
    --defaultLayout-sidebar-left-width: 18vw;
    --defaultLayout-sidebar-right-width: 20vw;
    --story-height: 200px;
    --story-width: 125px;

    //Color
    --primary: #ffeba7;
    --primary-light: #102770;
    --black: #000;
    --dark-theme: #293145;
    --bg-dark-theme: #20222b;
    --bg-light-theme: #fbfcfe;
    --light-theme: white;
    --input-text-color: rgba(22, 24, 35, 1);
    --text-color-dark: #ddd;
    --text-color: #282829;
    --icon-color: #adb5bd;
    --online: #10d876;
    --offline: #fe9431;
    --ban: #e50202;
    --time-color: #adb5bd;
    --title-color: #050505;
    // --background-color: #f7f8fa;

    //Font
    --default-font-family: 'ProximaNova', sans-serif;
    --font-family: 'SofiaPro', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Global CSS
body {
    font-family: var(--default-font-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
    height: 100%;
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}
// scrolbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--dark-theme);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: var(--bg-dark-theme);
    
}

// Custom Tippy Tooltip
body {
    .tippy-box {
        background-color: var(--dark-theme);
        min-height: 38px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    .tippy-box[data-theme~='light'] {
        color: #26323d;
        background-color: var(--light-theme);
    }

    .tippy-arrow {
        color: var(--dark-theme) !important;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }
}


.pop-up {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    &.loader {
        background-color: rgba(255, 255, 255, 0.6);
    }
}
.d-none {
    display: none;
}
.row {
    display: flex;
    align-items: center;
}
.indicators {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.react-slideshow-container + ul.indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator::before {
    color: var(--text-color-dark);
    background-color: white;
}

.react-slideshow-container .nav:last-of-type {
    right: 20px;
}
.react-slideshow-container .nav:first-of-type {
    left: 20px;
}
.react-slideshow-container .default-nav {
    background-color: transparent;
    & svg {
        fill: var(--text-color-dark);
    }
}
.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
    background-color: transparent;
    outline: 0;
}
