$username-color: var(--primary-light);
$time-color: #adb5bd;

.wrapper {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--light-theme);
    box-shadow: 1px 1px 5px #888888;
    color:var(--text-color);
    transition: all 0.8s;
    &.dark {
        background-color: var(--dark-theme);
        box-shadow: none;
        color: var(--text-color-dark);
    }
    &.dark .header .info .username{
        color:var(--primary)
    }
    &.dark .file-show .file-link{
        border-color: var(--text-color-dark);
        & a {
            color:var(--text-color-dark);
        }
    }
    &.dark .title{
        color:var(--primary)
    }
    &.dark .selected-category li{
        border-color: var(--primary);
        color: var(--primary);
    }
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
        display: flex;
        align-items: center;
    
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
    
        .user {
            margin-left: 12px;
    
            .username {
                color: $username-color;
                font-size: 1.4rem;
                font-weight: 700;
                cursor: pointer;
            }
    
            .time {

                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }

    .options {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 2rem;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}

.title-wrapper{
      display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.title{
 
    font-size: 1.8rem ;
    color:var(--primary-light);
    margin-right: 10px;
}

.selected-category {

    display: flex;
   
    li {
        padding: 1px 8px;
        margin-right: 10px;
        border: 1px solid var(--primary-light);
        color: var(--primary-light);
        border-radius: 16px;
        list-style-type: none;
        font-size: 1.4rem;
    }
}

.content {
    margin-bottom: 15px;
    font-size: 1.7rem;
    font-weight: 400;
    overflow: hidden;
    white-space: wrap;
    word-wrap: normal;

}
.mention{
    color: var(--primary);
    z-index: 12;
    cursor: pointer;
}
.file-show{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom:20px;
    
    }
   .file-link, .file-link{
       margin-right: 10px;
   }
   .file-link{
       
       border: 1px solid var(--text-color);
       text-decoration: none;
       border-radius: 5px;
       padding: 0 10px;
       width: 140px;
       overflow: hidden;
       position: relative;
       & a{
           display: block;
           width: 90%;
           color: var(--text-color);
           white-space: nowrap;
           overflow: hidden;
       }
   }
.image-holders{
    display: flex;
    flex-wrap:wrap;
}
.image {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
    object-fit: cover;
    &.plenty{
        height: 250px;
    }
}


.image-box{
    position: relative;
    display: block;
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    &.plenty {
        &:nth-child(1) {
            flex-basis: 100%;
            & .image{
                height: 350px;
            }
        }
       
    }
}
.image-box, .image-box{
    margin-right: 10px;
}

.actions {
    margin-top: 10px;   
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .default-action {
        display: flex;
        .like-action,
        .dislike-action,
        .comment-action {
            display: flex;
            align-items: center;
            margin-right: 20px;

            .icon {
                margin-right: 8px;
                font-size: 2rem;
            }

            .icon:hover {
                opacity: 0.8;
                font-size: 2.5rem;
                cursor: pointer;
            }
        }

        .like-action,
        .dislike-action {
            .icon {
                // color: #0073ff;
                color: #888;
            }
            .icon.active {
 
                color: var(--primary);
            }
        }



        .comment-action {
            .icon {
                color: #33d1ba;
            }
        }

        .nums {
            font-size: 1.6rem;
        }
    }

    .share-action {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon {
            font-size: 2rem;
            margin-right: 8px;
            color:  #f2c14b;

            &:hover {
                font-size: 2.5rem;
                opacity: 0.9;
            }
        }

        p {
            font-size: 1.6rem;
        }
    }
}

.popper-wrapper {
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}

.focus{

    background-color: var(--light-theme);
    max-height: 90%;
    width: 750px;
    overflow-y:scroll ;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
    color: var(--text-color);
    transition: all 0.8s;
    & .header{
        margin-top: 16px;
    }
    &.dark {
        background-color: var(--dark-theme);
        box-shadow: none;
        color: var(--text-color-dark);
    }
    &.dark .header .info .username{
        color:var(--primary)
    }

    &.dark .post{
        color: var(--primary);
    }
}

.post{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-light);
    border-bottom: 1px solid #ccc ;
    & h3{
        flex:1;
        margin-left:26px;
    }
    text-align: center;
    
}

.esc{
    font-size: 2.6rem;
    font-weight: 600;
    cursor: pointer;
}

