$username-color: var(--primary-light);
$time-color: #adb5bd;

.wrapper {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--light-theme);
    box-shadow: 1px 1px 5px #888888;
    color:var(--text-color);
    transition: all 0.8s;
    &.dark {
        background-color: var(--dark-theme);
        box-shadow: none;
        color: var(--text-color-dark);
    }
    &.dark .header .info .username{
        color:var(--primary)
    }

    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
        display: flex;
        align-items: center;
    
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    
        .title {
            margin-left: 12px;
    
            .username {
                color: $username-color;
                font-size: 1.4rem;
                font-weight: 700;
            }
    
            .time {

                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }

    .options {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 2rem;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}



.content {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
}

.image {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
    object-fit: cover;
}

.actions {
    margin-top: 10px;   
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .default-action {
        display: flex;
        .like-action,
        .dislike-action,
        .comment-action {
            display: flex;
            align-items: center;
            margin-right: 20px;

            .icon {
                margin-right: 8px;
                font-size: 2rem;
            }

            .icon:hover {
                opacity: 0.8;
                font-size: 2.5rem;
                cursor: pointer;
            }
        }

        .like-action,
        .dislike-action {
            .icon {
                // color: #0073ff;
                color: #888;
            }
        }

        .comment-action {
            .icon {
                color: #33d1ba;
            }
        }

        .nums {
            font-size: 1.6rem;
        }
    }

    .share-action {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon {
            font-size: 2rem;
            margin-right: 8px;
            color:  #f2c14b;

            &:hover {
                font-size: 2.5rem;
                opacity: 0.9;
            }
        }

        p {
            font-size: 1.6rem;
        }
    }
}

.popper-wrapper {
    background-color: #fff;
    box-shadow: 0 0 5px #888888;
}

