.container{
    height: 100%;
    width: 85%;
    background-color: aqua;
    
    position: fixed; 
    right:0px;
    top: 96px;
 }
 
 
 .renember {
    display: block;
    position: absolute;
    color: palevioletred;
    background-color: palegreen;
    text-align: center;
    padding: auto;
    height: 40px;
    width: 100px;
    bottom: 100px;
    right: 591px;
    
 }
 
 .wakaranai {
    display: flex;
    position: absolute;
    color: palevioletred;
    background-color: palegreen;
    text-align: center;
    padding: auto;
    height: 40px;
    width: 100px;
    bottom: 100px;
    right: 782px;
 }
 
 
 