$color-text: var(--text-color);
$color-blue: var(--primary-light);
$color-video: #e50202;
$color-photo: #10d876;
$color-camera: #fe9431;

.wrapper {
    background-color: var(--light--theme);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #888;
    &.dark{
        background-color: var(--dark-theme);
        box-shadow: none;
   
    }

    &.dark .header{
        &-icon {

            color: var(--primary);
        }
        &-title {
            margin-left: 8px;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--primary);
        }
    }
    &.dark .input {
        textarea{
            background-color: var(--bg-dark-theme);
            color:var(--text-color-dark);
          
        }
        
    }
    .header {
        display: flex;
        align-items: center;

        &-title {
            margin-left: 8px;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--primary-light);
        }

        &-icon {
            font-size: 1.4rem;
            color: $color-blue;
        }
    }

    .input {
        display: flex;
        align-items: center;
        margin-top: 20px;
        
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 8px;
        }

        textarea {
            font-size: 1.6rem;
            width: 100%;
            min-height: 100px;
            padding: 8px;
            border-radius: 10px;
            border: 1px dotted #ccc;
            resize: none;

            &:hover {
                border-color: #999;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }

            &:focus {
                border-color: #666;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                outline: none;
            }
        }
    }
    &.dark .options{
        color: var(--text-color-dark);
    }
    .options {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: var(--text-color);
        .option {
            display: flex;
            align-items: center;
            height: 30px;
            line-height: 30px;
            margin-right: 38px;
            cursor: pointer;

            &-icon {
                margin-right: 8px;
                margin-bottom: 2px;
                font-size: 1.4rem;
            }

            &-title {
                font-size: 1.4rem;
                font-weight: 600;
           

            }

            

            .video {
                color: $color-video;
            }

            .photo {
                color: $color-photo;
            }

            .camera {
                color: $color-camera;
            }
        }
    }
}

// .default-option {
//     display: flex;
//     align-items: center;
//     margin-top: 12px;
// }

// .more-option {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 40px;
//     height: 40px;
//     background-color: #f5f5f5;
//     border-radius: 50%;
//     margin-top: 2px;

//     .icon {
//         font-size: 2.6rem;
//     }

//     &:hover {
//         cursor: pointer;
//         opacity: 0.9;
//     }
// }
