.wrapper {
    display: flex;
    margin-top: 20px;
    width: 650px;
    &.page{
        width: 100%;
    }
    &.dark .username{
        color:var(--primary)
    }
    &.dark .mention{
        color: var(--primary);
    }
    &.dark .message{
        background-color: var(--bg-dark-theme);
    }
    &.dark .actions{
        color: var(--text-color-dark) ;
    }
    &.dark .like-count{
        background-color: var(--primary);
    color: var(--primary-light);
    }
    &.dark .options{
        &:hover {
            background-color: var(--bg-dark-theme);
            cursor: pointer;
        }
    }
}
.ava-like{
    display: flex;
    flex-direction: column;

}

.like-count{
    margin-top: 4px;
    width: 40px;
    background-color: var(--primary-light);
    color: var(--primary);
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.like-icon{

}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.image {
    margin-top: 5px;
    max-width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: left;
    border-radius: 20px;
}

.comment {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .username {
        font-size: 1.4rem;
        color: var(--primary-light);

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.row{
    display:flex;
    .options {
        width: 30px;
        height: 30px;
        margin-left:10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            font-size: 1.8rem;
        }

        &:hover {
            background-color: #eee;
            cursor: pointer;
        }
    }
}
.message {
    background-color: #eee;
    border-radius: 12px;
    padding: 4px 8px;
    padding-top: 8px;
    max-width: 637px;

    p {
        font-size: 1.4rem;
    }
}
.mention{
    color: var(--primary-light);
    z-index: 12;
    cursor: pointer;
    
}
.actions {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: 8px;
    color: var(--text-color);
    .like,
    .reply {
        margin-left: 4px;
        font-size: 1.2rem;
        font-weight: 700;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .edit{
        margin-left: 4px;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .time {
        font-size: 1rem;
        color: var(--time-color);

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .time, .reply,.edit {
        margin-left: 12px;
    }
  
}
