.wrapper {
    background-color: var(--light-theme);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888;
    position: relative;
    transition: all 0.8s;
    &.dark {
        background-color: var(--dark-theme);
        box-shadow: none;
        color: var(--text-color-dark);
    }
    &.dark .selected-category li {
        border-color: var(--primary);
        color: var(--primary);
    }
}

.title {
    font-size: 20px;
    max-width: 90%;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-category {
    display: flex;
    flex-wrap: wrap;
    max-width: 88%;
    color: var(--primary-light);
    li {
        padding: 1px 8px;
        margin-right: 10px;
        border: 1px solid var(--primary-light);
        border-radius: 16px;
        list-style-type: none;
        font-size: 14px;
        margin-bottom: 12px;
    }
}

.contributor {
    display: flex;
    margin-top: 10px;
    align-items: center;
    & p {
        margin-left: 10px;
        font-size: 14px;
    }
}

.avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-weight: 600;
    margin-left: 16px;
    margin-right: 6px;
}

.delete {
    position: absolute;
    font-size: 40px;
    color: #888;
    top:50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
