.container{
    transition: all 0.8s;
    // background-color: var(--bg-dark-theme);
    min-height: 100vh;
    overflow: hidden;
    padding-left: calc(var(--defaultLayout-sidebar-left-width) + 30px);
    padding-right: 40vh;
    position:relative;
   
    &.dark .text{
        color:var(--text-color-dark)
    }
    &.dark .rightside .finishbox{
        background-color: var(--dark-theme);
        box-shadow: none;
    }
    &.dark .rightside .skipbox{
        background-color: var(--dark-theme);
        box-shadow: none;
    }
}

.flash{
    position: absolute;
    // height: 100vh;
    width: 100vw;
    left: 0;
    top: var(--defaultLayout-header-height);
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(242, 15, 15);
    z-index: 4;
    overflow-y: hidden;
    overflow: hidden;
}
 .text{
    color: var(--text-color);
 }
 .options{
    z-index: 5;
    display: flex;
    position: absolute;
    bottom: 60px;
    width: 45vh;
    justify-content: space-around;
    left: 39%;
    
 }



.finish {
    color: palevioletred;
    background-color: palegreen;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 4rem;
    border-radius: 50%;
}

.skip {
    color: palevioletred;
    background-color: palegreen;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 4rem;
  
}
.back{
    color: palevioletred;
    background-color: palegreen;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 3rem; 
}
 
.rightside{
    width: 40vh;
    padding: 0% 3%;
    position: fixed;
    top: var(--defaultLayout-header-height);
    right: 1%;
    bottom: 0;
    // overflow-y: scroll;
    // overflow-x: hidden;
    transition: all 0.8s;
}

.finishbox{
    background-color: var(--light-theme);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    left: 10%;
    right: 10%;
    position: absolute;
    bottom: 51%;
    box-sizing: border-box;
    border: 1px solid rgb(77, 67, 77);
    border-radius: 5%;
    box-shadow: 1px 1px 5px #888888;
}

.skipbox{
    background-color: var(--light-theme);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 1px 1px 5px #888888;
    align-items: center;
    height: 40vh;
    left: 10%;
    right: 10%;
    position: absolute;
    bottom: 2%;
    box-sizing: border-box;
    border: 1px solid rgb(77, 67, 77);
    border-radius: 5%;
}



.shadowbox{
   background-color: rgb(181, 191, 199);
   height:17vh*(60/40);
   width: 17vh
}
.number{
   height: 23px;
   width: 78px;

}

.progresscontain{
    height: 200px;
    width: 300px;
    display: flex;
    // justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    background-color: antiquewhite;
    transition: all 1.0s ease;
    transform: scale(1);
}

.progressbox{
    position: absolute;
    height: 200px;
    width: 200px;
    left: -8px;
    transition: all 1.0s ease;
    transform: scale(0.7);
}
.emotion{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    position: absolute;
    height: 80px;
    width: 80px;
    right: 26px;
    top: 30px;
}

.buttonhoc{
    background-color: rgb(235, 216, 191);
    border-radius: 15px;
    position: absolute;
    height: 26px;
    width: 77px;
    right: 26px;
    bottom: 31px;
    
}


.boxshowper{
    height: 60vh;
    width: 40vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;
    &.show{
        
        animation: appear 0.8s ease forwards;
    }
    &.hide{
       
        animation: disappear 0.8s ease forwards;
    }
}
.showper{
    background-color: bisque;
    height: 12vh;
    width: 30vh;
    z-index: 6;
    font-weight: 600;
    display: flex;
    padding:20px;
    font-style: italic;
    
    align-items: center;
    justify-content: center;
    border-radius:1vw;
    
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes disappear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}

.no-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
 