
.wrapper {
    margin-bottom: 20px;
    padding: 20px;
    min-width: 500px;
    position: relative;
    border-radius: 10px;
    background-color: var(--light-theme);
    box-shadow: 1px 1px 5px #888888;
    color: var(--text-color);
    transition: all 0.8s;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.dark {
        background-color: var(--dark-theme);
        box-shadow: none;
        color: var(--text-color-dark);
    }

    &.dark .header .info .avatar {
        background-color: var(--bg-dark-theme) ;
    }

    &.dark .header .info .user .username  {
        background-color: var(--bg-dark-theme) ;
    }


    &.dark .header .info .user .time  {
        background-color: var(--bg-dark-theme) ;
    }
    &.dark .options .slot{
        background-color: var(--bg-dark-theme);
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
        display: flex;
        align-items: center;
        
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #999;
        }

        .user {
            margin-left: 12px;
        
            .username {
               background-color: #999;
                height: 16px;
                width: 10vw;
                border-radius: 6vw;
                cursor: pointer;
            }
            
            .time {
                margin-top: 10px;
                height: 14px;
                width: 6vw;
                border-radius: 6vw;
                background-color: #999;
            }
        }
    }
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slot{
    background-color: #999;
    height: 30px;
    width: 6vw;
    border-radius: 10px;
}