.wrapper {
    padding-top: var(--defaultLayout-header-height);
    display: flex;
    height: 100vh;

    &.dark { 
        color:var(--text-color-dark) ; 
        & .sidebar{
            background-color: var(--dark-theme);
            
            .header, .title {
                color: var(--text-color-dark);
            }

        }
        & .display{
            background-color: var(--bg-dark-theme);

            & .react {
                & .reply {
                    color: var(--text-color-dark);
                    background-color: var(--bg-dark-theme);
                }
            }
        }
        
    }
}

.sidebar {
    width: 360px;
    background-color: #fff;
    .header {
        margin-top: 4px;
        margin-left: 8px;
        font-size: 4rem;
        color: #050505;
    }

    .title {
        margin-left: 8px;
        color: #050505;
    }
}

.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;

    .content {
        width: 330px;
        height: 550px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .message {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            background-color: transparent;
            color: #000;
            z-index: 10;
            max-width: 300px;
            max-height: 500px;
            overflow: hidden;
            font-size: 2rem;
            text-align: center;
            word-wrap: break-word;
            cursor: default;
        }

        .progress {
            position: absolute;
            top: 4px;
            left: 8px;
            right: 8px;
            height: 4px;
            background-color: blue;
        }

        .info {
            position: absolute;
            top: 16px;
            left: 8px;
            right: 8px;
            display: flex;
            align-items: center;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }

            .detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 4px;

                .time {
                    font-size: 1.4rem;
                }

                .username {
                    font-size: 1.4rem;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .react {
        margin-top: 10px;
        display: flex;
        align-items: center;

        .reply {
            width: 300px;
            background-color: #f0f2f5;
            color: var(--text-color);
            border: 1px solid #ccc;
            border-radius: 12px;
            padding: 4px;
            resize: none;
        }

        .icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 12px;
            i {
                font-size: 2.6rem;
                color: #fff;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}
