.faceCard {
    height: 100%;
    width: 100%;
    color: red;
    text-align: center;
    // background-color: hsl(0, 33%, 96%);
    // padding: 10px;
    // margin: 10% auto;
    // border: 2px solid rgb(231, 189, 216);
}